[submodule "vendor/libjs"]
	path = vendor/libjs
	url = ../../holepunchto/libjs.git
	shallow = true
[submodule "vendor/libnapi"]
	path = vendor/libnapi
	url = ../../holepunchto/libnapi.git
	shallow = true
[submodule "vendor/libqjs"]
	path = vendor/libqjs
	url = ../../holepunchto/libqjs.git
	shallow = true
[submodule "vendor/libjsc"]
	path = vendor/libjsc
	url = ../../holepunchto/libjsc.git
	shallow = true
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = ../../libuv/libuv.git
	shallow = true
[submodule "vendor/libpath"]
	path = vendor/libpath
	url = ../../holepunchto/libpath.git
	shallow = true
