[submodule "vendor/libjs"]
	path = vendor/libjs
	url = ../../holepunchto/libjs.git
	shallow = true
[submodule "vendor/libnapi"]
	path = vendor/libnapi
	url = ../../holepunchto/libnapi.git
	shallow = true
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = ../../libuv/libuv.git
	shallow = true
[submodule "vendor/libutf"]
	path = vendor/libutf
	url = ../../holepunchto/libutf.git
	shallow = true
[submodule "vendor/liblog"]
	path = vendor/liblog
	url = ../../holepunchto/liblog.git
        shallow = true
